<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gruupster</title>
    {{> css_partials}}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
    <link href="fullcalendar/fullcalendar.css" rel="stylesheet"/>

    <script src="fullcalendar/lib/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="fullcalendar/lib/moment.min.js"></script> 
    <script src="fullcalendar/fullcalendar.js"></script>
    <script src="http://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>    
    <script src="javascript/calendar.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="javascript/main.js"></script>

    <script>
      $(document).ready(function () {
        $("#title").html("GruupUp");
        $('#cancelButton').click(function(){
          location.href = "homepage";
        });
        $('#datepicker').datepicker();
        $('.gruupUpCheckbox').children('center').prop("checked", 0);

        $('#addNewFriends').click( function () {
          location.href = "gruupers";
        });

        $('.gruupUpGruupers').click( function () {          
          $(this).toggleClass('element-selected');
        });

        $('.gruupUpCheckbox').click( function () {
          var gruupUpBoxes = $(this).children('input');
          gruupUpBoxes.prop("checked", !gruupUpBoxes.prop("checked"));
        });

        $('.gruupUpCheckbox>input').hide();

        $('#gruupUpClose').click(function () {
          $('#calculatedMessage').slideUp("slow", function () {
            $('#gruupUpForm').slideDown("slow");
          });          
        });
      })
    </script>

</head>

<body>
  {{> main_head}}
  
 <div class="subContainer">
    <div class="btn-group btn-group-center" id="breadCrumbButtons">
      <div class="containerBC">
        <button type="button" class="btn btn-primary" id="homeBC"><img src="images/homeBC.png" alt="Home"/></button>
        <button type="button" class="btn btn-primary" id="createEventBC"><img src="images/createEventBC.png" alt="Create Event"/></button>
        <button type="button" class="btn btn-primary" id="calBC"><img src="images/calBC.png" alt="Calendar"/></button>
      </div>
  </div>
    
    <div>
     {{#if listOfFriends}}
      <div id="gruupUpContent">
        <form action="processGruupUp" method="post" id="gruupUpForm">

        Select Date
        <input placeholder="Date" type="text" id="datepicker" data-date-format="mm/dd/yyyy" name="date"> *              
        
        <br>
        <br>

        Select Friends

        {{#each listOfFriends}}
        <div class="gruupUpCheckbox">
            <input type="checkbox" name="{{email}}" value="{{email}}" class="visibility-none">
            <center class="gruupUpGruupers"><label for="{{email}}">{{firstname}} {{lastname}}</label></center>            
        </div>
        {{/each}}
        <br>
        <input type="button" value="Submit" id="gruupUpSubmit">
        <input type="button" value="Cancel" id="cancelButton">
        <p>* = required</p>
        <span id="gruupUpAlert"></span>
      </form> 
       
      {{else}}
      <div>
        <p> To GruupUp, you're going to need some friends! </p>
        <button id="addNewFriends">Add Friend now!</button>
      </div>
      </div>
      {{/if}}   
      <div id="calculatedMessage">
        <p>Here's the free time that we calculated for you and your friends!</p> 
        <div id="gruupUpCalendar"></div>
        <br>
        <button id="gruupUpClose">Back</button>
      </div>
 
 </div>
</body>

</html>