<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gruupster</title>
    <link href="css/index.css" rel="stylesheet"></link>
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet"></link>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
    <link href="fullcalendar/fullcalendar.css" rel="stylesheet"/>

    <script src="fullcalendar/lib/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="fullcalendar/lib/moment.min.js"></script> 
    <script src="fullcalendar/fullcalendar.js"></script>
    <script src="http://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>    
    <script src="javascript/calendar.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>

    <script>
      $(document).ready(function () {
        $("#title").html("GruupUp");
        $('#cancelButton').click(function(){
          location.href = "homepage";
        });
        $('#datepicker').datepicker();
        $('.gruupUpCheckbox').children('input').prop("checked", 0);

        $('#addNewFriends').click( function () {
          location.href = "gruupers";
        });

        $('.gruupUpCheckbox').click( function () {
          var gruupUpBoxes = $(this).children('input');
          gruupUpBoxes.prop("checked", !gruupUpBoxes.prop("checked"));
          $(this).toggleClass('element-selected');

        });
      })
    </script>

</head>

<body>
  {{> main_head}}
  
  <div class="subContainer">
    <div class="btn-group btn-group-center" id="breadCrumbButtons">
      <div class="containerBC">
        <button type="button" class="btn btn-primary" id="homeBC">Homepage</button>
        <button type="button" class="btn btn-primary" id="createEventBC">Create Event</button>
        <button type="button" class="btn btn-primary" id="calBC">Calendar</button>
      </div>
  </div>
    
    {{#if listOfFriends}}
    <div id="gruupUpContent">
      <form action="processGruupUp" method="post" id="gruupUpForm">

        Select Date
        <input placeholder="Date" type="text" id="datepicker" data-date-format="mm/dd/yyyy" name="date"> *              
        
        <br>
        <br>

        Select Friends

        {{#each listOfFriends}}
        <div class="gruupUpCheckbox">
          <input type="checkbox" name="{{email}}" value="{{email}}" class="selectedFriends visibility-none"><center><label for="{{email}}">{{firstname}} {{lastname}}</label></center>
        </div>
        {{/each}}
        <br>
        <input type="button" value="Submit" id="gruupUpSubmit">
        <input type="button" value="Cancel" id="cancelButton">
      </form> 
      <p>* = required</p>
      <span id="gruupUpAlert"></span> 
  {{else}}
      <div>
        <p> To GruupUp, you're going to need some friends! </p>
        <button id="addNewFriends">Add Friend now!</button>
      </div>
      </div>
      {{/if}} 
      <div id="gruupUpCalendar"></div>
 
</body>

</html>