<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gruupster</title>
    <link href="css/index.css" rel="stylesheet"></link>
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet"></link>
    <link href="fullcalendar/fullcalendar.css" rel="stylesheet"/>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
    <script src="fullcalendar/lib/moment.min.js"></script> 
    <script src="fullcalendar/fullcalendar.js"></script>
    <script src="javascript/main.js"></script>
    <script src="javascript/moment.js"></script>
    <script src="javascript/calendar.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script>
      $(document).ready(function () {
        $("#title").html("Tutorial 4");
        $('#datepicker').datepicker();
        $('#cancelButton').click(function(){
          location.href = "homepage";
        });
        $('.gruupUpCheckbox').children('input').prop("checked", 0);

        $('.gruupUpCheckbox').click( function () {
          var gruupUpBoxes = $(this).children('input');
          gruupUpBoxes.prop("checked", !gruupUpBoxes.prop("checked"));
          $(this).toggleClass('element-selected');

        });
      });
    </script>
</head>

<body>
  {{> main_head}}
  
  <div class="subContainer">
    <div class="jumbotron">
    <div id="tut_second">
      <h3><center>GruupUp!</center></h3>
      <p>Perfect! Now it's time to make your first GruupUp event. Select the friends you want to group up with and click submit to see available times.</p>
    </div>
    <div id="tut_first">
      <h3><center>Connect with Gruupers</center></h3>
      <p> 
        These are the major basics of the app. Feel free to use it to gruup up with friends with ease! If you ever find yourself needing more help, check out our help page in the menu bar above. Enjoy!</p>
      <p><a class="btn btn-primary btn-lg" href="homepage" role="button">Get started!</a></p>
    </div>
    <nav>
        <ul class="pager">
          <li><a id= "tut_previous">Previous</a></li>
          <li><a id= "tut_next">Next</a></li>
        </ul>
  </div>

    <h2>Gruup Up</h2>
    <form action="processGruupUp" method="post" id="gruupUpForm">

      Select Date
      <input placeholder="Date" type="text" id="datepicker" data-date-format="mm/dd/yyyy" name="date"> *              
      
      <br>

      Select Friends

      {{#each listOfFriends}}
        <div class="gruupUpCheckbox">
          <input type="checkbox" name="{{email}}" value="{{email}}" class="selectedFriends visibility-none"><label for="{{email}}">{{firstname}} {{lastname}}</label>
        </div>
      {{/each}}

      <input type="button" class="btn" value="Submit" id="gruupUpSubmit">
      <input type="button" class="btn" value="Cancel" id="cancelButton">
    </form> 
  </div>
 
 <div id="gruupUpCalendar"></div>
</body>

</html>